
body {
  background-color: var(--Eggshell);
}

.titles{
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: var(--nutmeg);
  font-size: 26px;
  margin-left: 20px;
}

#titles-preparation{
  font-family: "Young Serif", serif;
  font-weight: 400;
}

.receipe {
  background-color: var(--White);
  max-width: 700px;
  margin: 100px auto 100px;
  border-radius: 1rem;
  padding: 20px 10px 62px;
}

.image {
  width: 100%;
  margin: 0px auto;
  display: block;
}

.first-part h2 {
  margin: 12px 20px 34px;
  font-size: 34px;
  font-family: "Young Serif", serif;
  font-weight: 400;
}

.first-part p {
  font-size: 16px;
  margin-left: 20px;
  color: var(--Wenge-Brown);
  font-family: "Outfit", sans-serif; 
}



.preparation {
  margin: 20px 50px auto;
  font-size: 14px;
  line-height: 30px;
  width: 90%;	
  border-radius: 5%;
  background-color: var(--Rose-White);
  padding-top: 20px;
  color: var(--Wenge-Brown);
}




ul{
margin-left: 50px; 
}

.preparation h2 {
  font-size: 22px;
  color: var(--dark-Raspberry);
  margin: 0px 20px 10px;
}

 li {
  padding-left: 15px;
}






.ingredients {
  margin-top: 25px;
  font-size: 14px;
  line-height: 30px;
  color: var(--Wenge-Brown);
}


.ingredients ul{
    margin-top: 12px;
    font-family: "Outfit", sans-serif;
}










.instructions{
    margin-top: 20px;
    line-height: 30px;
    color: var(--Wenge-Brown);
}

.instructions ol{
    list-style-type: decimal;
    margin: 20px 50px auto;
    font-family: "Outfit", sans-serif;
}
.instructions ol li::marker{
    color: var(--nutmeg);
    font-weight: bold;
}






.nutrition{
    margin-top: 20px;
    line-height: 30px;
    color: var(--Wenge-Brown);
}


.nutrition p{
    margin: 16px 40px auto;
    font-size: 16px;
}

.nutrition table{
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}


.nutrition td {
    padding: 5px; 
    padding-right: 250px;   
    border-bottom: 1px solid #898989;
}


.color-inline{
    color: var(--nutmeg);
    font-weight: bolder;
    
}

tr:last-child td{
    border-bottom: none;
}
